/*
!/app
!/flog-core
!/flog-loggers
!/gradle
!/gradlew
!/gradlew.bat
!/.gitignore
!/build.gradle
!/settings.gradle
!/config.gradle
!/artifacts.gradle
!/gradle.properties
!/README.md
!/README-en.md
!/LICENSE